[submodule "/home/liangw/.config/kitty/kitty-themes"]
	path = /home/liangw/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "/home/liangw/.config/alacritty/themes"]
	path = /home/liangw/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "/home/liangw/.config/nvim"]
	path = /home/liangw/.config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
